.gradasi{
    font-size: 48px;
    font-weight: 1000;
    background: -webkit-linear-gradient(#7977B4,#9B98FF,#48D9CA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.accordion {
    background-color:rgba(72, 217, 202);
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 80%;
    text-align: left;
    transition: 0.4s;
    font: 30px ;
    font-family: 'Work Sans', sans-serif;
    margin-right: 0px;
    border-color: white;
    border-radius: 18px;
    font-size: 24px;
    margin-bottom: 3%;
  }
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: white;
    color:black;
  }
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    background-color: white;
    display: none;
    overflow: hidden;
    margin-left: 18%;
    margin-right: 2%;
    transition: max-height 10s ease-out;
    margin-bottom: 3%;
  }
  
  .accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    float: right;
    margin-left: 5px;
  }
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }
  
  ul#ul_accordion{
    list-style: none;
  }
  ul#ul_accordion li:not(:last-child) {
    margin-bottom: 5px;
  }
  
  ul#juke img{
    width: 100px;
    height:100px;
    -webkit-box-shadow: 10px 10px 28px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 28px -10px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 28px -10px rgba(0,0,0,0.75);
  }
  
  ul#juke li{
    display:inline;
    list-style:none;
    text-align: center;
    margin-left: 4em;
  }
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    color: white;
  }
  
.btn-grad {background-image: linear-gradient(to right, #24C6DC 0%, #7977B4  51%, #24C6DC  100%)}
.btn-grad {
   margin: 10px;
   padding:7px 22px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display:inline-block;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }
  
  @media (max-width:500px){
    ul#juke li{
        display: vertical;
       list-style:none;
       margin-left: 0;
    }
     .container{
         margin: 3em 3em 3em 3em;
  
    }
    #header{
    font-size: 35px;
    }
  
  }
  
  
  
  
  