{% load static %}
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
  </head> 
  <body>
    <div class="container  mt-5 text-center mb-5">
        <span class="gradasi">Story7</span>
    </div>
    
   
    <div class = "container">
        <ul class="ul_accordion" style="list-style: none;">
          <li>
            <a onclick="up()" class="btn-grad text-white">UP</a> <a onclick="down()" class="btn-grad text-white">DOWN</a>
            
            <button class="accordion"><b>Aktivitas Saat Ini</b></button>
            <div class="panel">
                <p>-Kegiatan Akademis</p>
                <p>-Mempersiapkan COMPFEST13 sebagai calon manager partnership </p>
                <p>-Mempersiapkan PERAK 2021 sebagai VPIC Sponsorship</p>
                <p>-Main Apex</p>
            </div>
         </li>
      
            <li>
                <a onclick="up()" class="btn-grad text-white">UP</a> <a onclick="down()" class="btn-grad text-white">DOWN</a>
            
            
                <button class="accordion"><p><b>Pengalaman Kepanitiaan</b></p></button>
                    <div class="panel">
                        <p>-Staff Sponsorship COMPFEST12</p>
                        <p>-HRD Bisdev Perak 2020</p>
                        <p>-Staff Dekor Theresia Cup</p>
                    </div>
            </li>
        
            <li>
                <a onclick="up()" class="btn-grad text-white">UP</a> <a onclick="down()" class="btn-grad text-white">DOWN</a>
                
                <button class="accordion"><p><b>Prestasi</b></p></button>
                <div class="panel">
                    <p>-Lomba Spelling Bee SD</p>
                    <p>-Lomba Debat SMP</p>
                    <p>-Lomba Gambar SD</p>
                </div>
            </li>
        
            <li>
                <a onclick="up()" class="btn-grad text-white">UP</a> <a onclick="down()" class="btn-grad text-white">DOWN</a>
                
                <button class="accordion"><p><b>Game Kesukaanku</b></p></button>
                    <div class="panel">
                    <p>-God Of War 4</p>
                    <p>-Apex Legend</p>
                    <p>-Horizon Zero Dawn</p>
                    </div>
            </li>
        </ul>
    </div>
    
  <script src="{% static 'script.js' %}"></script>
  </body>
 


</html>